body{
    margin:0;
    background-color: #062035;
    font-family: Arial, Helvetica, sans-serif;
}

.colour-bg1{
    background-color: #062035;
    
}

.colour-bg2{
    background-color: white;

}

.colour-bg3{
    background-color: #b9b9b9;

}

.colour-bg4{
    background-color:white ;
}

.colour-bg5{
    background-color: #062035;

}

header{

}
.wrapper{
    margin-inline: 10%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.container img{
    object-fit:cover;
    max-height: 100%;
    border-radius: 100px;

    
}

.nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.nav li{
    list-style: none;
    margin: 0 10px;
}

.nav li a{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;

}
/*Main Containt -----------------------------------------------------------------------*/

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 200px;
    max-height: 200px;
    margin-top:50px ;
    margin-bottom:50px;
    padding-bottom: 20px;
    flex-wrap: wrap;


}

.main-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    max-width: 50%;


}

.text{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    gap: 8px;
    max-width: 50%;
}


.main-container h1{
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

.main-container p{
    font-size: 1.2vw;
    color: white;
    max-width: 100%;
}

.main-container button{
    background-color: #062035;
    color: white;
    border-radius: 4px;
    font-size: 1.2vw;
}

.main-container img{
    display: flex;
    max-height: 100%;
    border-radius: 10px;
}
  


/* infor-page ----------------------------------------------*/

.gallery-header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #062035;
    font-size: 1.8vw;
    padding-top:50px;

}

.gallery-container{
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom:50px;

}

.ul-gallery {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 40px;
    height: 300px;

}
.gallery-container li {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.gallery-container li  {
    width: 200px;
    height: 120px;
    
}

.gallery-container img{
    display: flex;
    max-height: 100%;
    border-radius: 10px;
    border: 5px solid #062035;
}

.gallery-container p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2vw;
    color: #062035;
    text-align: center;


}
/*End Containt -----------------------------------------------------------------------*/

.midbottom-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top:100px;
    padding-bottom:100px;

    
}
.by-text p1 {
    display: flex;
    color: #062035;
    font-size: 2vw;
    text-align: center;
    width: 100%;
}

.by-text p2{
    display: flex;
    color: #000000;
    font-size: 1.5vw;
    justify-content: end;
    align-items: end;
    font-weight: bold;

}

/*--------------------------------------media--------------------------------------*/

.media-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 200px;
    max-height: 200px;
    flex-wrap: wrap;

}

.media-container{
    display:flex;
}

.ul-media {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 0;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    background-color:#062035 ;
    
    
}

.media-container li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    width: 200px;
    height: 50px;
}

.media-container a{
    display: flex;
    justify-content:center ;
    align-content: center;
    border-radius: 20px;
    max-height: 100%;
    gap: 10px;

}

.ul-media img{
    border-radius: 30px;
}

.ul-media p{
    text-align: center;
    align-self: center;
    text-decoration: none;
    color: white;
    font-size: 1vw;
    list-style: none;

}
/*----------------------------FOOTER----------------------------*/

.footer-container{
    display:flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
}

.footer-text{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 100%;

}
.footer-text p{
    display: flex;
    color: white;
    font-size: 1vw;
}



